<!DOCTYPE html>
<html lang="eng" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="The D&D nerd's best friend! The freedom of pen&paper brought to a screen.">
        <meta name="author" content="Benjamin Martinez">

        <meta property="og:title" content="D&D Character Builder">
        <meta property="og:type" content="website">
        <meta property="og:url" content="link to my website hopefully">
        <meta property="og:description" content="The D&D nerd's best friend! The freedom of pen&paper brought to a screen.">
        <meta property="og:image" alt="I don't have an imgage." content="maybe an image I can easily draw? Or one from my AI">

        <link rel="stylesheet" type="text/css" th:href="@{/styles/charactersheet/csbuilder.css}">
        <title>D&D Character Builder</title>
    </head>
    <body class="webBGsettings" onload="setup()">
        <h1 class="welcomeTitle">D&D Character Builder: Welcome Guest User</h1>
        <script th:src="@{/styles/charactersheet/js.js}"></script>
        
	        <div class="mainContainer">
	            <div id="lc" class="leftContainer">
	            	<form action='#' th:action="@{/dnd/build/save}" th:object="${dndcharacter}" method="post">
	                <!--This is the characterHeadTable, where all general information of a character is located.
	                NAME    LEVEL   PROFBONUS   MOVESPEED   RACE    CLASSES
	                The table is collapsible through a variety of interactions for the purpose of keeping our workspace small.-->
	                <table id="ct" class="characterHeadTable">
	                    <tr>
	                        <th>Name</th>
	                        <th>Level</th>
	                        <th>Proficiency Bonus</th>
	                        <th>Movement Speed</th>
	                        <th>Race</th>
	                        <th>Class(es)</th>
	                    </tr>
	                    <tr>
	                        <td><input type="text" maxlength="20" th:field="*{name}" placeholder="Character Name"></td><!--NAME-->
	                        <td><input id="lvl" type="number" min="1" max="20" th:field="*{lvl}"></td><!--LEVEL-->
	                        <td><p id="proficiencybonus"></p><button id="calculate" onclick="calculate()">CAL</button></td><!--derive-->
	                        <td>ms</td><!--derive-->
	                        <td>
	                            <select id="race" name="race">
	                                <!--Using thymeleaf I'll load in race values and their attributes. Title = description.-->
	                                <option value="ARace" title="Default value no description">raceOption</option>
	                            </select>
	                        </td><!--RACE-->
	                        <td><button id="classmenu" onclick="expandClassMenu()">Edit Classes</button></td><!--CLASSES-->
	                    </tr>
	                </table>
	                <!--This is where I will have thymeleaf make available all classes found in the database, this element is a hidden element
	                that will show up when the user wants to interact with their classes. The priority should be a feeling of smooth ui.-->
	                <table id="classui" hidden>
	                    <tr>
	                        <th><button id="classuiescape" onclick="collapseClassMenu()">&leftarrowtail;</button>Class(es)</th>
	                        <th>Level(s)</th>
	                    </tr>
	                    <!--Here I will have thymeleaf create a table row for each class found in the users class database.
	                    The levels combined values cannot exceed the characters total level.-->
	                    <tr>
	                        <td>class: <select class="csel"><option value="wizard">Wizard</option></select></td>
	                        <td>lvl: <input type="number" min="1" max="20"></td>
	                    </tr>
	                </table>
	                <table id="stattable">
	                    <tr>
	                        <th>Strength</th>
	                        <th>Intelligence</th>
	                        <th>Dexterity</th>
	                        <th>Wisdom</th>
	                        <th>Constitution</th>
	                        <th>Charisma</th>
	                    </tr>
	                    <!--Use thymeleaf to load in stat values-->
	                    <tr>
	                        <td><input type="number" min="3" max="20" class="stat" id="STRENGTH" th:field="*{str}"><p></p></td>
	                        <td><input type="number" min="3" max="20" class="stat" id="INTELLIGENCE" th:field="*{intell}"><p></p></td>
	                        <td><input type="number" min="3" max="20" class="stat" id="DEXTERITY" th:field="*{dex}"><p></p></td>
	                        <td><input type="number" min="3" max="20" class="stat" id="WISDOM" th:field="*{wis}"><p></p></td>
	                        <td><input type="number" min="3" max="20" class="stat" id="CONSTITUTION" th:field="*{con}"><p></p></td>
	                        <td><input type="number" min="3" max="20" class="stat" id="CHARISMA" th:field="*{cha}"><p></p></td>
	                    </tr>
	                </table>
	                <input type="submit" value="Create Character">
	                </form>
	                <table class="basictable">
	                    <tr>
	                        <th>
	                            <button class="calcstat" onclick="calculateStatBonuses()">Calculate Stat Bonuses</button>
	                            <button class="rollstat" onclick="randomizeStats()">RANDOMIZE STATS</button>(Range of 3 to 18)
	                        </th>
	                    </tr>
	                </table>
	                <table id="sensestable">
	                    <tr>
	                        <th>Passive Perception</th>
	                        <th>Passive Investigation</th>
	                        <th>Passive Insight</th>
	                    </tr>
	                    <tr>
	                        <td class="sense" id="passperc" name="perception">x</td>
	                        <td class="sense" id="passinv" name="investigation">x</td>
	                        <td class="sense" id="passins" name="insight">x</td>
	                    </tr>
	                    <tr>
	                        <th><button class="calcsenses" onclick="calculateSenses()">Calculate Senses</button></th>
	                    </tr>
	                </table>
	                <table id="skilltable">
	                    <tr>
	                        <th>Skills</th>
	                        <th>Proficiency</th>
	                        <th>Modifier</th>
	                        <th>Total Bonus</th>
	                    </tr>
	                    <!--Here I would have thymeleaf generate a row of table data for each skill found in the skill table-->
	                    <tr>
	                        <td>Acrobatics</td>
	                        <td><div class="proficiencyCircleNone" id="acrobatics"></div><p>None</p></td>
	                        <td>DEXTERITY</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>Animal Handling</td>
	                        <td><div class="proficiencyCircleNone" id="animal handling"></div><p>None</p></td>
	                        <td>WISDOM</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>Arcana</td>
	                        <td><div class="proficiencyCircleNone" id="arcana"></div><p>None</p></td>
	                        <td>INTELLIGENCE</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>Athletics</td>
	                        <td><div class="proficiencyCircleNone" id="athletics"></div><p>None</p></td>
	                        <td>STRENGTH</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>Deception</td>
	                        <td><div class="proficiencyCircleNone" id="deception"></div><p>None</p></td>
	                        <td>CHARISMA</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>History</td>
	                        <td><div class="proficiencyCircleNone" id="history"></div><p>None</p></td>
	                        <td>INTELLIGENCE</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>Insight</td>
	                        <td><div class="proficiencyCircleNone" id="insight"></div><p>None</p></td>
	                        <td>WISDOM</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>Intimidation</td>
	                        <td><div class="proficiencyCircleNone" id="intimidation"></div><p>None</p></td>
	                        <td>CHARISMA</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>Investigation</td>
	                        <td><div class="proficiencyCircleNone" id="investigation"></div><p>None</p></td>
	                        <td>INTELLIGENCE</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>Medicine</td>
	                        <td><div class="proficiencyCircleNone" id="medicine"></div><p>None</p></td>
	                        <td>WISDOM</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>Nature</td>
	                        <td><div class="proficiencyCircleNone" id="nature"></div><p>None</p></td>
	                        <td>INTELLIGENCE</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>Perception</td>
	                        <td><div class="proficiencyCircleNone" id="perception"></div><p>None</p></td>
	                        <td>WISDOM</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>Performance</td>
	                        <td><div class="proficiencyCircleNone" id="performance"></div><p>None</p></td>
	                        <td>CHARISMA</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>Persuasion</td>
	                        <td><div class="proficiencyCircleNone" id="persuasion"></div><p>None</p></td>
	                        <td>CHARISMA</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>Religeon</td>
	                        <td><div class="proficiencyCircleNone" id="religeon"></div><p>None</p></td>
	                        <td>INTELLIGENCE</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>Sleight of Hand</td>
	                        <td><div class="proficiencyCircleNone" id="sleight of hand"></div><p>None</p></td>
	                        <td>DEXTERITY</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>Stealth</td>
	                        <td><div class="proficiencyCircleNone" id="stealth"></div><p>None</p></td>
	                        <td>DEXTERITY</td>
	                        <td type="number">x</td>
	                    </tr>
	                    <tr>
	                        <td>Survival</td>
	                        <td><div class="proficiencyCircleNone" id="survival"></div><p>None</p></td>
	                        <td>WISDOM</td>
	                        <td type="number">x</td>
	                    </tr>
	                </table>
	            </div>
	            <div class="rightContainer">
	                <!--<audio controls><source src=""></audio>-->
	                <button class="section" id="actions">ACTIONS</button>
	                <button class="section" id="spells">SPELLS</button>
	                <button class="section" id="equipment">EQUIPMENT</button>
	                <button class="section" id="inventory">INVENTORY</button>
	                <button class="section" id="featurestraits">FEATURES & TRAITS</button>
	                <button class="section" id="description">DESCRIPTION</button>
	                <button class="section" id="notes">NOTES</button>
	            </div>
	        </div>
        
    </body>
</html>